.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
config.py

__pycache__/
.vscode/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

test_report/
.coverage
coverage.xml

