{% extends "base.html" %}

{% block page %}
<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">消息中心</h4>
            </div>
            <div class="col-7 align-self-center">
                <div class="d-flex align-items-center justify-content-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="profile">主页</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">消息中心</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->


    <!-- Message Modal -->
    {% for activity in activities %}
    {% for userActivity in activity.userActivities %}
    <div class="modal fade" id="{{message.id}}" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalLabel">消息详情</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="card" style="width: 45rem;">
                        <div class="card-body">
                            <h5 class="card-title">项目：{{userActivity.activity.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">消息时间：时间</h6>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">申请项目</th>
                                        <th scope="col">申请职位</th>
                                        <th scope="col">申请日期</th>
                                        <th scope="col">姓名</th>
                                        <th scope="col">学号</th>
                                        <th scope="col">院系</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-success">
                                        <th scope="row">{{userActivity.activity.title}}</th>
                                        <td>工作职位</td>
                                        <td>申请工作的时间</td>
                                        <td>{{userActivity.user.name}}</td>
                                        <td>{{userActivity.user.schoolId}}</td>
                                        <td>{{userActivity.user.department}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <p class="card-text">{{userActivity.content}}</p>
                            <a href="#" class="card-link">志愿者详情</a>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success">同意申请</button>
                    <button type="button" class="btn btn-danger">拒绝申请</button>
                    <button type="button" class="btn btn-info">回复</button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">确认</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
    <!--div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">消息详情</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="card" style="width: 45rem;">
                        <div class="card-body">
                            <h5 class="card-title">项目：校园志愿讲解</h5>
                            <h6 class="card-subtitle mb-2 text-muted">消息时间：2019.11.20 19:56</h6>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">申请项目</th>
                                        <th scope="col">申请职位</th>
                                        <th scope="col">申请日期</th>
                                        <th scope="col">姓名</th>
                                        <th scope="col">学号</th>
                                        <th scope="col">院系</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-success">
                                        <th scope="row">校园志愿讲解</th>
                                        <td>流动志愿者</td>
                                        <td>2019.11.20</td>
                                        <td>王俊凯</td>
                                        <td>201919991999</td>
                                        <td>软件学院</td>
                                    </tr>
                                </tbody>
                            </table>

                            <p class="card-text">申请理由：我爱志愿，我真的很爱志愿，希望你们可以收留我这个可怜的孩子嘤嘤嘤。</p>
                            <a href="#" class="card-link">志愿者详情</a>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success">同意申请</button>
                    <button type="button" class="btn btn-danger">拒绝申请</button>
                    <button type="button" class="btn btn-info">回复</button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">确认</button>
                </div>
            </div>
        </div>
    </div-->

    <div class="container-fluid">
        <div class="tab-content">
            <ul class="nav nav-tabs" id="myTab" role="tablist" style="padding-left: 10px;">
                <li class="nav-item">
                    <a class="nav-link active" id="allMessage-tab" data-toggle="tab" href="#allMessage" role="tab"
                        aria-controls="allMessage" aria-selected="true">所有消息</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="applyMessage-tab" data-toggle="tab" href="#applyMessage" role="tab"
                        aria-controls="applyMessage" aria-selected="false">志愿者申请</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="volunteerMessage-tab" data-toggle="tab" href="#volunteerMessage" role="tab"
                        aria-controls="volunteerMessages" aria-selected="false">志愿者留言</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="managerMessage-tab" data-toggle="tab" href="#managerMessage" role="tab"
                        aria-controls="managerMessage" aria-selected="false">管理员消息</a>
                </li>
            </ul>
            <div class="tab-pane active" id="allMessage" role="tabpanel" aria-labelledby="allMessage-tab">
                <div class="col-12">
                    <div class="card">

                        <div class="card-body">
                            <h4 class="card-title">所有消息</h4>
                            <h6 class="card-subtitle">在这里查看所有您收到的消息。</h6>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">消息类型</th>
                                        <th scope="col">用户类型</th>
                                        <th scope="col">用户名称</th>
                                        <th scope="col">相关项目</th>
                                        <th scope="col">时间</th>
                                        <th scope="col">消息状态</th>
                                        <th scope="col">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for activity in activities %}
                                    {% for userActivity in activity.userActivities %}
                                    <tr class="table-success" style="cursor:pointer;"
                                        onclick="$('#{{userActivity.id}}').modal('toggle')">
                                        <th scope="row">志愿申请</th>
                                        <td>志愿者</td>
                                        <td>{{userActivity.user.name}}</td>
                                        <td>{{userActivity.activity.title}}</td>
                                        <td>{{userActivity.applytime}}</td>
                                        <td>未读</td>
                                        <td>回复</td>
                                    </tr>
                                    {% endfor %}
                                    {% endfor %}
                                    <!--tr class="table-success" style="cursor:pointer;"
                                        onclick="$('#exampleModal').modal('toggle')">
                                        <th scope="row">志愿申请</th>
                                        <td>志愿者</td>
                                        <td>特朗普</td>
                                        <td>校园志愿讲解</td>
                                        <td>2019.11.20 12:36</td>
                                        <td>未读</td>
                                        <td>回复</td>
                                    </tr>
                                    <tr class="table-primary" style="cursor:pointer;"
                                        onclick="$('#exampleModal').modal('toggle')">
                                        <th scope="row">志愿者留言</th>
                                        <td>志愿者</td>
                                        <td>希拉里</td>
                                        <td>校园志愿讲解</td>
                                        <td>2019.11.20 22:36</td>
                                        <td>未读</td>
                                        <td>回复</td>
                                    </tr>
                                    <tr class="table-danger" style="cursor:pointer;"
                                        onclick="$('#exampleModal').modal('toggle')">
                                        <th scope="row">管理员消息</th>
                                        <td>管理员</td>
                                        <td>清华大学团委志愿组</td>
                                        <td>校园志愿讲解</td>
                                        <td>2019.11.20 12:36</td>
                                        <td>未读</td>
                                        <td>回复</td>
                                    </tr>

                                    <tr style="cursor:pointer;" onclick="$('#exampleModal').modal('toggle')">
                                        <th scope="row">志愿申请</th>
                                        <td>志愿者</td>
                                        <td>马克思</td>
                                        <td>校园志愿讲解</td>
                                        <td>2019.11.20 22:36</td>
                                        <td>已读</td>
                                        <td>回复</td>
                                    </tr>
                                    <tr style="cursor:pointer;" onclick="$('#exampleModal').modal('toggle')">
                                        <th scope="row">志愿者留言</th>
                                        <td>志愿者</td>
                                        <td>恩格斯</td>
                                        <td>校园志愿讲解</td>
                                        <td>2019.11.20 22:36</td>
                                        <td>已读</td>
                                        <td>回复</td>
                                    </tr-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="applyMessage" role="tabpanel" aria-labelledby="applyMessag-tab">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">志愿者申请</h4>
                            <h6 class="card-subtitle">在这里查看志愿者加入您的项目的申请。</h6>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">消息类型</th>
                                        <th scope="col">用户类型</th>
                                        <th scope="col">用户名称</th>
                                        <th scope="col">相关项目</th>
                                        <th scope="col">时间</th>
                                        <th scope="col">消息状态</th>
                                        <th scope="col">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for activity in activities %}
                                    {% for userActivity in activity.userActivities %}
                                    <tr class="table-success" style="cursor:pointer;"
                                        onclick="$('#{{userActivity.id}}').modal('toggle')">
                                        <th scope="row">志愿申请</th>
                                        <td>志愿者</td>
                                        <td>{{userActivity.user.name}}</td>
                                        <td>{{userActivity.activity.title}}</td>
                                        <td>{{userActivity.applytime}}</td>
                                        <td>未读</td>
                                        <td>回复</td>
                                    </tr>
                                    {% endfor %}
                                    {% endfor %}
                                    <!--tr class="table-success" style="cursor:pointer;"
                                        onclick="$('#exampleModal').modal('toggle')">
                                        <th scope="row">志愿申请</th>
                                        <td>志愿者</td>
                                        <td>奥巴马</td>
                                        <td>校园志愿讲解</td>
                                        <td>2019.11.20 22:36</td>
                                        <td>未读</td>
                                        <td>回复</td>
                                    </tr>
                                    <tr class="table-success" style="cursor:pointer;"
                                        onclick="$('#exampleModal').modal('toggle')">
                                        <th scope="row">志愿申请</th>
                                        <td>志愿者</td>
                                        <td>特朗普</td>
                                        <td>校园志愿讲解</td>
                                        <td>2019.11.20 12:36</td>
                                        <td>未读</td>
                                        <td>回复</td>
                                    </tr>
                                    <tr style="cursor:pointer;" onclick="$('#exampleModal').modal('toggle')">
                                        <th scope="row">志愿申请</th>
                                        <td>志愿者</td>
                                        <td>马克思</td>
                                        <td>校园志愿讲解</td>
                                        <td>2019.11.20 22:36</td>
                                        <td>已读</td>
                                        <td>回复</td>
                                </tr-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="volunteerMessage" role="tabpanel" aria-labelledby="volunteerMessage-tab">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">志愿者留言</h4>
                            <h6 class="card-subtitle">在这里查看您收到的来自志愿者的留言和反馈。</h6>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">消息类型</th>
                                        <th scope="col">用户类型</th>
                                        <th scope="col">用户名称</th>
                                        <th scope="col">相关项目</th>
                                        <th scope="col">时间</th>
                                        <th scope="col">消息状态</th>
                                        <th scope="col">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--其余消息，待开发-->
                                    <!--tr class="table-primary" style="cursor:pointer;"
                                        onclick="$('#exampleModal').modal('toggle')">
                                        <th scope="row">志愿者留言</th>
                                        <td>志愿者</td>
                                        <td>希拉里</td>
                                        <td>校园志愿讲解</td>
                                        <td>2019.11.20 22:36</td>
                                        <td>未读</td>
                                        <td>回复</td>
                                    </tr>
                                    <tr style="cursor:pointer;" onclick="$('#exampleModal').modal('toggle')">
                                        <th scope="row">志愿者留言</th>
                                        <td>志愿者</td>
                                        <td>恩格斯</td>
                                        <td>校园志愿讲解</td>
                                        <td>2019.11.20 22:36</td>
                                        <td>已读</td>
                                        <td>回复</td>
                                    </tr-->

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="managerMessage" role="tabpanel" aria-labelledby="managerMessage-tab">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">管理员消息</h4>
                            <h6 class="card-subtitle">在这里查看管理员的留言和系统消息。</h6>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">消息类型</th>
                                        <th scope="col">用户类型</th>
                                        <th scope="col">用户名称</th>
                                        <th scope="col">相关项目</th>
                                        <th scope="col">时间</th>
                                        <th scope="col">消息状态</th>
                                        <th scope="col">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--其余消息，待开发-->
                                    <!--tr class="table-danger" style="cursor:pointer;"
                                        onclick="$('#exampleModal').modal('toggle')">
                                        <th scope="row">管理员消息</th>
                                        <td>管理员</td>
                                        <td>清华大学团委志愿者</td>
                                        <td>校园志愿讲解</td>
                                        <td>2019.11.20 12:36</td>
                                        <td>未读</td>
                                        <td>回复</td>
                                    </tr-->

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(function () {
                $('#myTab li:last-child a').tab('show')
            })
        </script>
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->


        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>

<script type="text/javascript" src="../static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../static/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript">
    $('.form_datetime').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
	$('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
	$('.form_time').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 1,
		minView: 0,
		maxView: 1,
		forceParse: 0
    });
</script>

<script>
    var url = '';
    $("#uploadImage").fileupload({
        url : ROOT + "/security/company/uploadFile",
        dataType : 'json',
        autoUpload : false,
        acceptFileTypes : /(gif|jpe?g|png)$/i,
        maxFileSize : 1000000, // 1 MB
        imageMaxWidth : 100,
        imageMaxHeight : 100,
        messages : {
            acceptFileTypes : '文件类型不匹配',
            maxFileSize : '文件过大',
            minFileSize : '文件过小'
        }
    }).on("fileuploadadd", function(e, data) {
        // 当文件添加上去时候调用
        $("#titleImageError")("");
        data.submit()
    }).on("fileuploaddone", function(e, data) {
        // 上传完成时调用
        if (data.result.returnState == "ERROR") {
            alert("上传失败")
            return;
        }
        url = data.result.returnData.url;
    });
    
    function updateMsg() {
        $.ajax({
            url : ROOT + "/security/company/updateInfo",
            data : {
                id : $("#companyId").val(),
                image : url,
                companyName : $("#companyName").val(),
                companySite : $("#companySite").val(),
                companyLinker : $("#companyLinker").val(),
                companyTel : $("#companyTel").val()
            },
            type : "post",
            success : function(data) {
                if (data.returnState == "OK") {
                    layer.msg('操作成功', {
                        icon : 6,
                        shade : 0.01,
                        offset : [ '57px', '1100px' ]
                    });
                    $table.bootstrapTable('refresh');
                } else {
                    layer.msg('操作失败', {
                        icon : 5,
                        shade : 0.01,
                        offset : [ '90px', '900px' ]
                    });
                }
            }
        });
    }
</script>
{% endblock %}

