{% extends "base.html" %}

{% block page %}
<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">消息中心</h4>
            </div>
            <div class="col-7 align-self-center">
                <div class="d-flex align-items-center justify-content-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">主页</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">消息中心</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->


    <!-- Message Modal -->
    {% for activity in activities %}
    {% for userActivity in activity.userActivities %}
    <div class="modal fade" id="userActivity{{userActivity.id}}" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalLabel">消息详情</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="card" style="width: 45rem;">
                        <div class="card-body">
                            <h5 class="card-title">项目：{{userActivity.activity.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">消息时间：时间</h6>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">申请项目</th>
                                        <th scope="col">申请职位</th>
                                        <th scope="col">申请日期</th>
                                        <th scope="col">姓名</th>
                                        <th scope="col">学号</th>
                                        <th scope="col">院系</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-success">
                                        <th scope="row">{{userActivity.activity.title}}</th>
                                        <td>工作职位</td>
                                        <td>申请工作的时间</td>
                                        <td>{{userActivity.user.name}}</td>
                                        <td>{{userActivity.user.schoolId}}</td>
                                        <td>{{userActivity.user.department}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <p class="card-text">{{userActivity.content}}</p>
                            <a href="#" class="card-link">志愿者详情</a>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" onclick="replyApply({{userActivity.id}},'1')">同意</button>
                    <button type="button" class="btn btn-danger" onclick="replyApply({{userActivity.id}},'0')">拒绝</button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="changeIsRead({{userActivity.id}},'userActivity')" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endfor %}

    {% for activity in activities %}
    <div class="modal fade" id="Activity{{activity.id}}" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalLabel">消息详情</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="card" style="width: 45rem;">
                        <div class="card-body">
                            <h5 class="card-title">项目：{{activity.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">消息时间：时间</h6>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">审批结果</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-success">
                                        <th scope="row">{{activity.type}}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="changeIsRead({{activity.id}},'activity')" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="container-fluid">
        <div class="tab-content">
            <ul class="nav nav-tabs" id="myTab" role="tablist" style="padding-left: 10px;">
                <li class="nav-item">
                    <a class="nav-link" id="applyMessage-tab" data-toggle="tab" href="#applyMessage" role="tab"
                        aria-controls="applyMessage" aria-selected="false">志愿者申请</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="managerMessage-tab" data-toggle="tab" href="#managerMessage" role="tab"
                        aria-controls="managerMessage" aria-selected="false">管理员消息</a>
                </li>
            </ul>

            <div class="tab-pane" id="applyMessage" role="tabpanel" aria-labelledby="applyMessag-tab">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">志愿者申请</h4>
                            <h6 class="card-subtitle">在这里查看志愿者加入您的项目的申请。</h6>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">消息类型</th>
                                        <th scope="col">用户类型</th>
                                        <th scope="col">用户名称</th>
                                        <th scope="col">相关项目</th>
                                        <th scope="col">时间</th>
                                        <th scope="col">消息状态</th>
                                        <th scope="col">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for activity in activities %}
                                    {% for userActivity in activity.userActivities %}
                                    {% if userActivity.type=='applying' %}
                                    <tr class="table-success" style="cursor:pointer;"
                                        onclick="$('#userActivity{{userActivity.id}}').modal('toggle');">
                                        <th scope="row">志愿申请</th>
                                        <td>志愿者</td>
                                        <td>{{userActivity.user.userName}}</td>
                                        <td>{{userActivity.activity.title}}</td>
                                        <td>{{userActivity.applyTime}}</td>
                                        {% if userActivity.isRead %}
                                            <td>已读</td>
                                        {% else %}
                                            <td>未读</td>
                                        {% endif %}
                                        <td>回复</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="managerMessage" role="tabpanel" aria-labelledby="managerMessage-tab">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">管理员消息</h4>
                            <h6 class="card-subtitle">在这里查看管理员的留言和系统消息。</h6>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">消息类型</th>
                                        <th scope="col">用户类型</th>
                                        <th scope="col">相关项目</th>
                                        <th scope="col">时间</th>
                                        <th scope="col">消息状态</th>
                                        <th scope="col">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for activity in activities %}
                                    {% if activity.isMessage and (not activity.isRead) %}
                                    <tr class="table-success" style="cursor:pointer;"
                                        onclick="$('#Activity{{activity.id}}').modal('toggle')">
                                        <th scope="row">管理员消息</th>
                                        <td>管理员</td>
                                        <td>{{activity.title}}</td>
                                        <td>{{activity.time}}</td>
                                        {% if activity.isRead%}
                                            <td>未读</td>
                                        {% else %}
                                            <td>已读</td>
                                        {% endif %}
                                        <td>阅读</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(function () {
                $('#myTab li:last-child a').tab('show')
            })
        </script>
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->


        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
{% endblock %}

{% block script %}
{{super()}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    axios.defaults.withCredentials = true;
    var replyApply=function(id,res){
        axios.get("/api/activities/replyApply",{params:{'id':id,'res':res}}).then((res)=>{
            alert("回复成功")
            location.reload()
        })
    }
    var changeIsRead=function(id,type){
        if(type=='activity'){
            axios.get("/api/activities/changeIsRead",{params:{'id':id}}).then((res)=>{
                alert("阅读完毕")
                location.reload()
            })
        }
        else{
            axios.get('/api/userActivities/changeIsRead',{params:{'id':id}}).then(res=>{
                alert('阅读完毕')
                location.reload()
            })
        }
    }
</script>
{% endblock %}

