{% extends "base.html" %}

{% block page %}
<div class="page-wrapper" id="content" style="display: block">
    <script src="/static/js/bootstrap-fileinput.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap-fileinput.min.css">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">我的项目</h4>
            </div>
            <div class="col-7 align-self-center">
                <div class="d-flex align-items-center justify-content-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">主页</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">我的项目</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Modal -->
    {% for activity in activities %}
    <div class="modal fade" id="activity{{activity.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">项目详情</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="tab-content">
                        <ul class="nav nav-tabs" id="myTab" role="tablist" style="padding-left: 10px;">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home{{activity.id}}"
                                    role="tab" aria-controls="home" aria-selected="true">项目信息</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile{{activity.id}}"
                                    role="tab" aria-controls="profile" aria-selected="false">成员管理</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages{{activity.id}}"
                                    role="tab" aria-controls="messages" aria-selected="false">招募消息</a>
                            </li>
                        </ul>

                        <div class="tab-pane active" id="home{{activity.id}}" role="tabpanel"
                            aria-labelledby="home-tab">

                            <form class="card" style="width: 45rem;" method='POST' enctype="multipart/form-data" oninput='starttime.setCustomValidity(/^[1-9]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])\s+(2[0-3]|0[0-9]|1[0-9]):[0-5][0-9]:[0-5][0-9]$/.test(starttime.value)?"":"请输入YYYY-MM-DD HH-MM-SS的日期格式")'>
                                <div class="card-body">
                                    <!-- <h5 class="card-title">{{activity.title}}</h5> -->
                                    <!-- <h6 class="card-subtitle mb-2 text-muted">项目编号：{{activity.AID}}</h6> -->
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="card">
                                                <div class="fileinput fileinput-new" data-provides="fileinput" id="uploadImageDiv">
                                                    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                        <img src="{{activity.thumb}}" alt="" />
                                                    </div>
                                                    <div class="fileinput-preview fileinput-exists thumbnail"
                                                        style="max-width: 200px; max-height: 150px;"></div>
                                                    <div class="row">
                                                        <span class="btn default btn-file" class='col-sm-6'>
                                                            <button class="btn btn-secondary btn-file"
                                                                class="fileinput-new">选择图片</button>
                                                            <input type="file" name="thumb" id="uploadImage" />
                                                        </span>
                                                    </div>
                                                    <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput">移除</a>
                                                    <span>您可以上传图片更改活动图片</span>
                                                </div>
                                                <div id="titleImageError" style="color: #a94442"></div>
                                                <div class="fileinput fileinput-new" data-provides="fileinput" id="uploadImageDiv">
                                                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                            <img src="{{activity.qrcode}}" alt="" />
                                                        </div>
                                                        <div class="fileinput-preview fileinput-exists thumbnail"
                                                            style="max-width: 200px; max-height: 150px;"></div>
                                                        <div class="row">
                                                            <span class="btn default btn-file" class='col-sm-6'>
                                                                <button class="btn btn-secondary btn-file"
                                                                    class="fileinput-new">选择图片</button>
                                                                <input type="file" name="qrcode" id="uploadImage" />
                                                            </span>
                                                        </div>
                                                        <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput">移除</a>
                                                        <span>您可以上传二维码更改活动二维码</span>
                                                    </div>
                                                    <div id="titleImageError" style="color: #a94442"></div>
                                                {% if activity.type=='created' %}
                                                <button class="btn btn-lg btn-secondary btn-block"
                                                     onclick="applyFinish({{activity.id}})">申请结项</button>
                                                {% else %}
                                                <button class="btn btn-lg btn-secondary btn-block"
                                                     disabled onclick="applyFinish({{activity.id}})">申请结项</button>
                                                {% endif %}
                                                <a href="/api/activities/{{activity.id}}/createQrCode" class="btn btn-lg btn-secondary btn-block"
                                                     >生成签到二维码</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="form-control">
                                                        <input name='id' value={{activity.id}} hidden>
                                                        状态：{%if activity.type=='creating'%}
                                                        <input readonly class="form-control form-control-line"
                                                            value="未审批">
                                                            {%elif activity.type=='created'%}
                                                            <input readonly class="form-control form-control-line"
                                                            value="已通过审批">
                                                            {%elif activity.type=='refused'%}
                                                            <input readonly class="form-control form-control-line"
                                                            value="未通过审批">
                                                            {%elif activity.type=='finished'%}
                                                            <input readonly class="form-control form-control-line"
                                                            value="已结项">
                                                            {% endif %}
                                                        活动日期：<input name="starttime"
                                                            class="form-control form-control-line"  name='starttime'
                                                            value="{{activity.starttime.__str__()}}">
                                                        管理单位：<input readonly class="form-control form-control-line"
                                                            value={{activity.team.teamName}}>
                                                        负责人：<input name="managePerson"
                                                            class="form-control form-control-line"
                                                            value={{activity.managePerson}} name='managePerson'>
                                                        联系电话：<input name="managePhone"
                                                            class="form-control form-control-line"
                                                            value={{activity.managePhone}} name='managePhone'>
                                                        <!-- <li class="list-group-item">邮箱：{{activity.email}} <a href="#"
                                                                class="btn btn-success" style="float:right">修改</a></li> -->
                                                        项目简介 <textarea name='content'
                                                            class="form-control" rows="7">{{activity.content}}</textarea>
                                                        <input type="submit" class="btn btn-success" value="保存">
                                                        <button class="btn btn-danger"
                                                            onclick="deleteActivity({{activity.id}});return false;">删除项目
                                                            </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="profile{{activity.id}}" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            成员列表{{activity.appliedRecruits.__str__()+'/'+activity.totalRecruits.__str__()}}
                                        </h4>
                                        <h6 class="card-subtitle">在这里查看已经加入您项目的志愿者。</h6>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">姓名</th>
                                                    <th scope="col">学号</th>
                                                    <th scope="col">院系</th>
                                                    <!--th scope="col">工作职位</th-->
                                                    <th scope="col">志愿工时</th>
                                                    <th scope='col'>是否签到</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for userActivity in activity.userActivities %}
                                                {% if userActivity.type=='applied' or userActivity.type=='finished' %}
                                                <tr class="table-success" style="cursor:pointer;"
                                                    onclick="$('#userActivity{{userActivity.id}}').modal('toggle')">
                                                    <th scope="row">{{userActivity.user.userName}}</th>
                                                    <td>{{userActivity.user.schoolId}}</td>
                                                    <td>{{userActivity.user.department}}</td>
                                                    <!--td>{{userActivity.user.job}}</td-->
                                                    <td onclick="event.stopPropagation()">
                                                        <input type="number" class="volunteerHours" class="form-control" value={{userActivity.hours}}>
                                                    </td>
                                                    {% if userActivity.isSignIn %}
                                                    <td>已签到</td>
                                                    {% else %}
                                                    <td>未签到</td>
                                                    {% endif %}
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane" id="messages{{activity.id}}" role="tabpanel"
                            aria-labelledby="messages-tab">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">志愿者申请</h4>
                                        <h6 class="card-subtitle">在这里查看志愿者加入您的项目的申请。</h6>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">消息类型</th>
                                                    <th scope="col">用户类型</th>
                                                    <th scope="col">用户名称</th>
                                                    <th scope="col">相关项目</th>
                                                    <th scope="col">时间</th>
                                                    <th scope="col">消息状态</th>
                                                    <th scope="col">操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for userActivity in activity.userActivities %}
                                                {% if userActivity.type=='applying' %}
                                                <tr class="table-success" style="cursor:pointer;"
                                                    onclick="$('#userActivityApply{{userActivity.id}}').modal('toggle')">
                                                    <th scope="row">志愿申请</th>
                                                    <td>志愿者</td>
                                                    <td>{{userActivity.user.userName}}</td>
                                                    <td>{{userActivity.activity.title}}</td>
                                                    <td>{{userActivity.applyTime}}</td>
                                                    {% if userActivity.isRead %}
                                                    <td>已读</td>
                                                    {% else %}
                                                    <td>未读</td>
                                                    {% endif %}
                                                    <td>回复</td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="update();updateVolunteerHours({{activity.id}})" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal message-->
    {% for userActivity in activity.userActivities %}
    <div class="modal fade" id="userActivityApply{{userActivity.id}}" tabindex="-1" role="dialog"
        aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalLabel">消息详情</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="card" style="width: 45rem;">
                        <div class="card-body">
                            <h5 class="card-title">项目：{{userActivity.activity.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">消息时间：时间</h6>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">申请项目</th>
                                        <!--th scope="col">申请职位</th-->
                                        <th scope="col">申请日期</th>
                                        <th scope="col">姓名</th>
                                        <th scope="col">学号</th>
                                        <th scope="col">院系</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-success">
                                        <th scope="row">{{userActivity.activity.title}}</th>
                                        <!--td>工作职位</td-->
                                        <td>{{userActivity.workdate}}</td>
                                        <td>{{userActivity.user.userName}}</td>
                                        <td>{{userActivity.user.schoolId}}</td>
                                        <td>{{userActivity.user.department}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <p class="card-text">{{userActivity.content}}</p>
                            <a href="#" class="card-link">志愿者详情</a>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success"
                        onclick="replyApply({{userActivity.id}},'1')">同意</button>
                    <button type="button" class="btn btn-danger"
                        onclick="replyApply({{userActivity.id}},'0')">拒绝</button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="update()" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Modal person-->
    {% for userActivity in activity.userActivities %}
    <div class="modal fade" id="userActivity{{userActivity.id}}" tabindex="-1" role="dialog"
        aria-labelledby="personModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="personModalLabel">项目详情</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="card" style="width: 45rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{userActivity.user.userName}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{userActivity.user.schoolId}}</h6>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">个人简介</h5>
                                            <p class="card-text" rows="10">{{userActivity.user.profile}}
                                            </p>
                                            <div class="card">
                                                <img src="{{userActivity.user.avatar}}" class="card-img-top"
                                                    alt="...">
                                                        <!-- <button class="btn btn-lg btn-info btn-block">招募公告</button>
                                                        <button class="btn btn-lg btn-primary btn-block">导入成员</button> -->
                                            </div>
                                        </div>
                                        <!-- <button class="btn btn-lg btn-info btn-block">发送消息</button>
                                        <button class="btn btn-lg btn-primary btn-block">更改职位</button>
                                        <button class="btn btn-lg btn-secondary btn-block" disabled>招募邀请</button> -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">院系：{{userActivity.user.department}} </li>
                                                <li class="list-group-item">微信号：{{userActivity.user.wx}}</li>
                                                <li class="list-group-item">邮箱：{{userActivity.user.email}}</li>
                                                <li class="list-group-item">联系电话：{{userActivity.user.phone}} </li>
                                                <li class="list-group-item">加入项目：{{userActivity.activity.title}}
                                                </li>
                                                <!-- <li class="list-group-item">工作职位：工作岗位</li>
                                                <li class="list-group-item">工作时间：工作时间</li> -->
                                                <li class="list-group-item"><a href="#" class="btn btn-danger"
                                                        style="float:right"
                                                        onclick="deleteMember({{userActivity.id}});return false;">删除成员</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="update()" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% endfor %}

    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">项目列表</h4>
                        <h6 class="card-subtitle">您可以查看您的志愿活动信息</h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" style='text-align: center;'>项目</th>
                                        <th scope="col">项目编号</th>
                                        <th scope="col">负责人</th>
                                        <th scope="col">状态</th>
                                        <th scope="col">开始日期</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for activity in activities %}
                                    <tr style="cursor:pointer;" onclick="$('#activity{{activity.id}}').modal('toggle')" id="tr">
                                        <td class=“w-25”>
                                            <div class="card mb-3" style="max-width: 450px;">
                                                <div class="row no-gutters" style="align-items: center;">
                                                    <div class="col-md-4">
                                                        <img src="{{activity.thumb}}" class="d-block w-100" alt="...">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="card-body">
                                                            <h5 class="card-title">{{activity.title}}</h5>
                                                            <p class="card-text">
                                                                {{activity.content}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                        <td style='vertical-align: middle;'>{{activity.AID}}</td>
                                        <td style='vertical-align: middle;'>{{activity.managePerson}}</td>
                                        {% if activity.type=='creating' %}
                                        <td style='vertical-align: middle;'>未审批</td>
                                        {% elif activity.type=='created' %}
                                        <td style='vertical-align: middle;'>已批准</td>
                                        {% elif activity.type=='refused' %}
                                        <td style='vertical-align: middle;'>未批准</td>
                                        {% elif activity.type=='finished' %}
                                        <td style='vertical-align: middle;'>已完成</td>
                                        {% endif %} 
                                        <td style='vertical-align: middle;'>{{activity.starttime}}</td>
                                    </tr>
                                    {% endfor %}
                                    {%import 'activitypages.html' as pg%}
                                    {{pg.my_paginate(pagination,'main.myactivity')}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
{% endblock %}

{% block script %}
{{super()}}
<script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
<script>
    axios.defaults.withCredentials = true;
    var deleteActivity = function (id) {
        axios.get("/api/activities/deleteActivity", { params: { 'id': id } }).then((res) => {
            alert("删除成功");
        })
    }
    var deleteMember = function (id) {
        axios.get("/api/activities/deleteMember", { params: { 'id': id } }).then((res) => {
            alert("删除成功");
        })
    }
    var replyApply = function (id, res) {
        axios.get("/api/activities/replyApply", { params: { 'id': id, 'res': res } }).then((res) => {
            alert("回复成功")
        })
    }
    var update=function(){
        setTimeout('$("#main").load("/myactivity #content")',500)
    }
    var updateVolunteerHours=function(id){
        var arr=$(".volunteerHours").map(function(){return this.value}).get()
        axios.post("/api/activities/updateVolunteerHours", { 'id': id, 'hours': arr  }).then((res) => {
            
        })
    }
    var applyFinish=function(id){
        axios.get("/api/activities/applyFinish",{ params: { 'id': id} }).then(res=>{
            alert("申请成功")
        })
    }
</script>
{% endblock %}
