{% extends "base.html" %}

{% block page %}
<div class="page-wrapper" id="app">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">我的项目</h4>
            </div>
            <div class="col-7 align-self-center">
                <div class="d-flex align-items-center justify-content-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="profile">主页</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">我的项目</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Modal -->
    {% for activity in activities %}
    <div class="modal fade" id="activity{{activity.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">项目详情</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="tab-content">
                        <ul class="nav nav-tabs" id="myTab" role="tablist" style="padding-left: 10px;">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home{{activity.id}}" role="tab"
                                    aria-controls="home" aria-selected="true">项目信息</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile{{activity.id}}" role="tab"
                                    aria-controls="profile" aria-selected="false">成员管理</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages{{activity.id}}" role="tab"
                                    aria-controls="messages" aria-selected="false">招募消息</a>
                            </li>
                        </ul>

                        <div class="tab-pane active" id="home{{activity.id}}" role="tabpanel" aria-labelledby="home-tab">

                            <div class="card" style="width: 45rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{activity.title}}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">项目编号：{{activity.AID}}</h6>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="card">
                                                <img src="{{activity.thumb}}" class="card-img-top"
                                                    alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">项目简介</h5>
                                                    <p class="card-text">{{activity.description}}
                                                        <a href="#" class="btn btn-success" style="float:right">修改
                                                        </a>
                                                    </p>
                                                </div>
                                                <button class="btn btn-lg btn-info btn-block">招募公告</button>
                                                <button class="btn btn-lg btn-primary btn-block">导入成员</button>
                                                <button class="btn btn-lg btn-secondary btn-block"
                                                    disabled>申请结项</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="card">
                                                <div class="card-body">
                                                    <form class="form-control" method="POST">
                                                        状态：<input readonly class="form-control form-control-line" value={{activity.type}}>
                                                        活动日期：<input name="starttime" class="form-control form-control-line" value={{activity.starttime}}>
                                                        管理单位：<input readonly class="form-control form-control-line" value={{activity.team.teamName}} >                                      
                                                        负责人：<input name="managePerson" class="form-control form-control-line" value={{activity.managePerson}}>
                                                        联系电话：<input name="managePhone" class="form-control form-control-line" value={{activity.managePhone}}>
                                                        <!-- <li class="list-group-item">邮箱：{{activity.email}} <a href="#"
                                                                class="btn btn-success" style="float:right">修改</a></li> -->
                                                        <input  type="submit" class="btn btn-success" value="保存">
                                                        <button class="btn btn-danger" onclick="deleteActivity({{activity.id}});return false;">删除项目
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="profile{{activity.id}}" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">成员列表{{activity.appliedRecruits.__str__()+'/'+activity.totalRecruits.__str__()}}</h4>
                                        <h6 class="card-subtitle">在这里查看已经加入您项目的志愿者。</h6>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">姓名</th>
                                                    <th scope="col">学号</th>
                                                    <th scope="col">院系</th>
                                                    <!--th scope="col">工作职位</th-->
                                                    <th scope="col">工作时间</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for userActivity in activity.userActivities %}
                                                {% if userActivity.type=='applied' %}
                                                <tr class="table-success" style="cursor:pointer;"
                                                    onclick="$('#userActivity{{userActivity.id}}').modal('toggle')">
                                                    <th scope="row">{{userActivity.user.userName}}</th>
                                                    <td>{{userActivity.user.schoolId}}</td>
                                                    <td>{{userActivity.user.department}}</td>
                                                    <!--td>{{userActivity.user.job}}</td-->
                                                    <td>{{userActivity.activity.starttime}}</td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane" id="messages{{activity.id}}" role="tabpanel" aria-labelledby="messages-tab">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">志愿者申请</h4>
                                        <h6 class="card-subtitle">在这里查看志愿者加入您的项目的申请。</h6>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">消息类型</th>
                                                    <th scope="col">用户类型</th>
                                                    <th scope="col">用户名称</th>
                                                    <th scope="col">相关项目</th>
                                                    <th scope="col">时间</th>
                                                    <th scope="col">消息状态</th>
                                                    <th scope="col">操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for userActivity in activity.userActivities %}
                                                {% if userActivity.type=='applying' %}
                                                <tr class="table-success" style="cursor:pointer;"
                                                    onclick="$('#userActivityApply{{userActivity.id}}').modal('toggle')">
                                                    <th scope="row">志愿申请</th>
                                                    <td>志愿者</td>
                                                    <td>{{userActivity.user.userName}}</td>
                                                    <td>{{userActivity.activity.teamName}}</td>
                                                    <td>{{userActivity.starttime}}</td>
                                                    <td>{{userActivity.isRead}}</td>
                                                    <td>回复</td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">确认</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal message-->
    {% for userActivity in activity.userActivities %}
    <div class="modal fade" id="userActivityApply{{userActivity.id}}" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalLabel">消息详情</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="card" style="width: 45rem;">
                        <div class="card-body">
                            <h5 class="card-title">项目：{{userActivity.activity.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">消息时间：时间</h6>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">申请项目</th>
                                        <!--th scope="col">申请职位</th-->
                                        <th scope="col">申请日期</th>
                                        <th scope="col">姓名</th>
                                        <th scope="col">学号</th>
                                        <th scope="col">院系</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-success">
                                        <th scope="row">{{userActivity.activity.title}}</th>
                                        <!--td>工作职位</td-->
                                        <td>{{userActivity.workdate}}</td>
                                        <td>{{userActivity.user.userName}}</td>
                                        <td>{{userActivity.user.schoolId}}</td>
                                        <td>{{userActivity.user.department}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <p class="card-text">{{userActivity.content}}</p>
                            <a href="#" class="card-link">志愿者详情</a>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" onclick="replyApply({{userActivity.id}},'1')">同意</button>
                    <button type="button" class="btn btn-danger" onclick="replyApply({{userActivity.id}},'0')">拒绝</button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <!-- <button type="button" class="btn btn-primary">确认</button> -->
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Modal person-->
    {% for userActivity in activity.userActivities %}
    <div class="modal fade" id="userActivity{{userActivity.id}}" tabindex="-1" role="dialog" aria-labelledby="personModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="personModalLabel">项目详情</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="card" style="width: 45rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{userActivity.user.userName}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{userActivity.user.schoolId}}</h6>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">个人简介</h5>
                                            <p class="card-text" rows="10">{{userActivity.user.profile}}
                                            </p>
                                        </div>
                                        <button class="btn btn-lg btn-info btn-block">发送消息</button>
                                        <button class="btn btn-lg btn-primary btn-block">更改职位</button>
                                        <button class="btn btn-lg btn-secondary btn-block" disabled>招募邀请</button>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">院系：{{userActivity.user.department}} </li>
                                                <li class="list-group-item">微信号：{{userActivity.user.wx}}</li>
                                                <li class="list-group-item">邮箱：{{userActivity.user.email}}</li>
                                                <li class="list-group-item">联系电话：{{userActivity.user.phone}} </li>
                                                <li class="list-group-item">加入项目：{{userActivity.activity.title}}（{{userActivity.activity.id}}）
                                                </li>
                                                <li class="list-group-item">工作职位：工作岗位</li>
                                                <li class="list-group-item">工作时间：工作时间</li>
                                                <li class="list-group-item"><a href="#" class="btn btn-danger"
                                                        style="float:right" onclick="deleteMember({{userActivity.id}});return false;">删除成员</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">确认</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endfor %}

    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">项目列表</h4>
                        <h6 class="card-subtitle">您可以查看您的志愿活动信息</h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" style='text-align: center;'>项目</th>
                                        <th scope="col">项目编号</th>
                                        <th scope="col">负责人</th>
                                        <th scope="col">状态</th>
                                        <th scope="col">开始日期</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for activity in activities %}
                                    <tr style="cursor:pointer;" onclick="$('#activity{{activity.id}}').modal('toggle')">
                                        <td class=“w-25”>
                                            <div class="card mb-3" style="max-width: 450px;">
                                                <div class="row no-gutters">
                                                    <div class="col-md-4">
                                                        <img src="{{activity.thumb}}"
                                                            class="d-block w-100" alt="...">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="card-body">
                                                            <h5 class="card-title">{{activity.title}}</h5>
                                                            <p class="card-text">
                                                                {{activity.title}}</p>
                                                            <p class="card-text"><small
                                                                    class="text-muted">更新于3分钟之前</small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                        <td style='vertical-align: middle;'>{{activity.AID}}</td>
                                        <td style='vertical-align: middle;'>{{activity.managePerson}}</td>
                                        <td style='vertical-align: middle;'>{{activity.type}}</td>
                                        <td style='vertical-align: middle;'>{{activity.starttime}}</td>
                                    </tr>
                                    {% endfor %}
                                    {%import 'activitypages.html' as pg%}
                                    {{pg.my_paginate(pagination,'main.myactivity')}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
{% endblock %}

{% block script %}
{{super()}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    axios.defaults.withCredentials = true;
    var deleteActivity = function(id) {
        axios.get("http://127.0.0.1:5000/api/deleteActivity",{params:{'id':id}}).then((res)=>{
            alert("删除成功");
            location.reload()
        })
    }
    var deleteMember=function(id){
        axios.get("http://127.0.0.1:5000/api/deleteMember",{params:{'id':id}}).then((res)=>{
            alert("删除成功");
            location.reload()
        })
    }
    var replyApply=function(id,res){
        axios.get("http://127.0.0.1:5000/api/replyApply",{params:{'id':id,'res':res}}).then((res)=>{
            alert("回复成功")
            location.reload()
        })
    }
</script>
{% endblock %}