{% extends "base.html"%}

{% block page %}
<script src="../static/js/bootstrap-fileinput.js"></script>
<link rel="stylesheet" href="../static/css/bootstrap-fileinput.css">
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">团体主页</h4>
            </div>
            <div class="col-7 align-self-center">
                <div class="d-flex align-items-center justify-content-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">主页</a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <form method='POST' enctype="multipart/form-data">
        <div class="row">
            <!-- Column -->
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <div class="card">
                    <div class="card-body">
                        <center class="m-t-30"> 
                                <div class="col-md-8">
                                        <div class="fileinput fileinput-new" data-provides="fileinput" id="uploadImageDiv">
                                            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                <img src="{{team.avatar}}" alt="" class="rounded-circle" width="150"/>
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail"
                                                style="max-width: 200px; max-height: 150px;"></div>
                                            <div class="row" style="justify-content:center;">
                                                <span class="btn default btn-file" class='col-sm-6'>
                                                    <button class="btn btn-secondary btn-file"
                                                        class="fileinput-new">上传头像</button>
                                                    <input type="file" name="avatar" id="uploadImage" />
                                                </span>
                                            </div>
                                            <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput">移除</a>
                                        </div>
                                        <div id="titleImageError" style="color: #a94442"></div>
                                    </div>
                            <h4 class="card-title m-t-10">{{team.teamName}}</h4>
                            <div class="row text-center justify-content-md-center">
                                <div class="col-4"><a href="javascript:void(0)" class="link"><i
                                            class="icon-people"></i>
                                            已完成活动
                                        <font class="font-medium">{{team.finishedActivities().__len__()}}</font>
                                    </a></div>
                                <div class="col-4"><a href="javascript:void(0)" class="link"><i
                                            class="icon-picture"></i>
                                            已创建活动
                                        <font class="font-medium">{{team.createdActivities().__len__()}}</font>
                                    </a></div>
                            </div>
                        </center>
                    </div>
                    <div>
                        <hr>
                    </div>
                    <div class="card-body"> <small class="text-muted">用户名： </small>
                        <h6>{{team.teamName}}</h6> <small class="text-muted p-t-30 db">成立时间</small>
                        <h6>{{team.establishedTime}}</h6> <small class="text-muted p-t-30 db">管理单位</small>
                        <h6>校团委志愿组</h6>
                                <small class="text-muted">团队简介</small>
                                <p class="card-text">{{team.description}}
                                </p>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-8 col-xlg-9 col-md-7">
                <div class="card">
                    <div class="card-body">
                        <div class="form-horizontal form-material">
                            <div class="form-group">
                                <label class="col-md-12">团队名称</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="软件学院志愿团队"
                                        class="form-control form-control-line" name="teamName" value={{team.teamName}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="example-email" class="col-md-12">负责人邮箱</label>
                                <div class="col-md-12">
                                    <input type="email" placeholder="hannagover@gmail.com" value={{team.email}} name='email'
                                        class="form-control form-control-line" name="example-email"
                                        id="example-email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">负责人电话</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="12345647890" value={{team.phone}} name="phone" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">密码</label>
                                <div class="col-md-12">
                                    <input type="password" class="form-control form-control-line" name="password" placeholder="******">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">团队简介</label>
                                <div class="col-md-12">
                                    <textarea class="form-control" rows="5" placeholder="这里是XXXX，我们是一个XXXXXXXXXXXXXXXXXXXXX的团队，我们运营的项目包括XXXXXXXX。" 
                                     name="description">{{team.description}}
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="submit" class="btn btn-success" value="更新信息"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
        </form>
    </div>

</div>

{% endblock %}
